* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}


.timer {
  display: flex;
  margin-top: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.value {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
  color: #0f0f0f;
  text-shadow: 0 6px 6px #c4b59d, 0px -3px 1px #fff;
}

[data-seconds]{
  color: #c43131;
}

.label {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #0f0f0f;
  text-shadow: 0 6px 6px #c4b59d, 0px -3px 1px #fff;
}

input#datetime-picker{
  width: 200px;
  height: 26px;
  background:#fafafa;
  border: none;
  border: 1px solid #acaaaa;
  cursor: pointer;
  box-shadow: 0 6px 8px #c4b59d, 0 -2px 1px #fff;

  text-align: center;
  font-weight: 600;
}

input#datetime-picker:hover,
input#datetime-picker :focus{
  border: 1px solid #212121;
  color: #0f0f0f;
}


button {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #acaaaa;
  color:#acaaaa;
  box-shadow: 0 6px 8px #c4b59d, 0 -2px 1px #fff;
}

button:hover,
button:focus {
  border: 1.5px solid #212121;
  color: #212121;
}

.btn{
  width: 48px;
  height: 26px;
  
}

.start{
  width: 60px;
  height: 48px;
 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}

.stop{
  margin-left: 70px;
  width: 60px;
  height: 48px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 
}


.form{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin: 50px;
}

input[type = 'number'] {
  width: 200px;
  height: 26px;
  background:#fafafa;
  border: 1px solid #acaaaa;
  cursor: pointer;
  box-shadow: 0 6px 8px #c4b59d, 0 -2px 1px #fff;
  -webkit-text-fill-color: #c43131;

  text-align: center;
  font-weight: 600;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #0f0f0f;
  text-shadow: 0 6px 8px #c4b59d, 0px -3px 1px #fff;
}

button[type = 'submit']{
  margin-top: 18px;
  width: 150px;
  height: 26px;

}